.DS_Store
.dart_tool/
.packages
.pub/
build/
*.lock
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.metadata
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.env
